/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	position: relative;
	box-sizing: border-box;
	   -moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	        background-clip: padding-box;
}
html {
	font-size: 10px; 
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}





/* SCAFFOLDING */

.wrapper {
	margin: 0 auto;
}
.row {
	width: 100%;
	*zoom: 1;
}
.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}
	.row .col {
		float: left;
	}
	/*
	.row .col.one {
		width: 20%;
	}
	.row .col.two {
		width: 40%;
	}
	.row .col.three {
		width: 60%;
	}
	.row .col.four {
		width: 80%;
	}
	.row .col.five {
		width: 100%;
	}
	*/





/* STYLES
    gradient: http://www.colorzilla.com/gradient-editor/
	font-face: http://www.fontsquirrel.com/fontface/generator
	more: http://css3please.com/

/* some boilerplating */
a {
	text-decoration: none;
	border-bottom: 1px dotted #DF4E70;
	color: #DF4E70;
}
a:hover {
	border-bottom: 1px solid #39C5BC;
	color: #39C5BC;
}

/* some awesome */
.wrapper {
	max-width: 960px;
}
.loading {
	-webkit-animation: spin linear 1s infinite;
	   -moz-animation: spin linear 1s infinite;
	    -ms-animation: spin linear 1s infinite
	    -o-transition: rotate(3600deg);
}





/* ANIMATIONS */

@-webkit-keyframes spin{
 	from {
	 	-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform:rotate(360deg)
	}
}
@-moz-keyframes spin{
 	from {
	 	-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform:rotate(360deg)
	}
}
@-ms-keyframes spin{
 	from {
	 	-ms-transform: rotate(0deg)
	}
	to {
		-ms-transform:rotate(360deg)
	}
}


/* MEDIA QUERIES */

@media only screen and (min-width: 960px) {



}

@media only screen and (max-width: 960px) {



}

/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {





}